/* all common css start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Be Vietnam Pro", sans-serif; */
    /* font-family: "Outfit", sans-serif; */
    /* font-family: "Lato", sans-serif; */
    /* font-family: "Poppins", sans-serif; */
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a,
a:hover {
    display: inline-block;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 1.4;
}

/* all common css end */
/* header section style start */
.navbar-nav .nav-item .nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
    font-family: "Be Vietnam Pro", sans-serif;

}

.navbar-nav .nav-item .nav-link:hover {

    color: #36B864;
    /* font-weight: 500; */
    text-shadow: 0.5px 0 0 #36B864;

}

.primaryBtn {
    background: #36B864;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid transparent;
    transition: .4s;
}

.primaryBtn:hover {

    background: transparent;
    border: 1px solid #666666;
    color: #111D15;
}

.primaryBtn i {


    transform: rotate(-45deg);
    margin-left: 10px;


}

/* header section style end */
/* banner section style start */
#bannerPart {
    background: url('../images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.bannerContent {
    padding: 104px 0;
}

.bannerContent h5 {

    font-size: 20px;
    font-weight: 400;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 12px;

}

.bannerContent h1 {

    font-size: 52px;
    font-weight: 700;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 24px;
    line-height: 115%;
    width: 610px;
}

.bannerContent p {
    font-size: 18px;
    font-weight: 400;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 40px;
    line-height: 30px;
    width: 543px;
}

.bannerBtn {
    /* margin-bottom: 105px; */
}



/* banner section style end */
/* service section style start */
#servicePart {
    padding: 100px 0;
}

.serviceText h3 {
    font-size: 44px;
    font-weight: 600;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 120%;
    width: 536px;
    text-transform: capitalize;

}

.serviceDescription {
    margin-bottom: 60px;
}

.serviceDescription h5 {

    font-size: 20px;
    font-weight: 600;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;


}

.serviceDescription p {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 150%;
    width: 433px;
}

.line {
    border-top: 1px solid #83A790;
}

.cardItem {
    margin-top: 40px;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 16px;
}

.card-text {

    font-size: 16px;
    font-weight: 400;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    line-height: 150%;
    width: 370px;
    margin-top: 16px;
    margin-bottom: 24px;

}

/* service section style end */
/* quote section style start */
#quotePart {
    padding: 75px 0;
}

.quoteContent h6 {
    font-size: 16px;
    font-weight: 400;
    color: #111D15;
    font-family: "Lato", sans-serif;

}

.quoteContent h3 {
    font-size: 44px;
    font-weight: 600;
    color: #111D15;
    font-family: "Outfit", sans-serif;
    line-height: 120%;
    width: 527px;
    text-transform: capitalize;
    margin-top: 24px;
    margin-bottom: 32px;
}

.quoteContent p {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
    font-family: "Lato", sans-serif;
    line-height: 30px;
    width: 516px;
    margin-bottom: 52px;
}

.quoteImg img {
    margin-left: 70px;

}

/* quote section style end */
/* expert section start */
.expertTitle h3 {
    width: 610px;

}

.expertDescription {
    margin-left: 110px;
}

.expertTeam {
    border: 1px solid transparent;
    border-radius: 20px;
    margin-bottom: 50px;
    transition: .4s;
    overflow: hidden;
}

.expertTeam:hover {

    border-color: #83A790;

}

.expertContent {
    padding: 20px;

}

.expertContent h5 {
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: #111D15;
    font-family: "Be Vietnam Pro", sans-serif;
}

.expertContent .star i {
    color: #FF9800;
    font-size: 14px;
    margin-right: 10px;
}

.expertContent p {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #666666;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 299px;

}

.expertContent .social i {
    margin-right: 24px;
    font-size: 20px;
}

/* expert section end */
/* price section start */
#pricePart {
    background: url("../images/priceBG.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 93px;
    padding-bottom: 300px;
}

.priceContent {
    text-align: center;
    color: #fff;
}

.priceContent h5 {
    font-size: 20px;
    font-weight: 400;
}

.priceContent h3 {
    font-size: 44px;
    font-weight: 600;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 551px;
    line-height: 120%;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 36px;
}

.priceToggle {
    background: #F4F5F8;
    padding: 6px 8px;
    margin: 0 auto;
    border-radius: 200px;
    display: inline-block;
}

.priceToggle .monthly {
    background: #36B864;
    font-size: 20px;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 7px 22px;
    border-radius: 200px;
    color: #fff;
    margin-right: 10px;

}
.priceToggle .yearly {
    background: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 7px 22px;
    border-radius: 200px;
    color: #111D15;

}
.priceCardParent{
    position: relative;
}
.priceCard{
    background: #fff;
    border-radius: 20px;
 display: flex;
 /* justify-content: center; */
 width: 100%;
 flex-direction: column;
 /* align-items: center; */
 padding: 30px 35px;

 position: absolute;
 z-index: 10;



}
.priceCard:hover{

box-shadow: 0 5px 20px 0 rgba(228, 5, 5, 0.5); 
transform: scaleY(1.05);
transform-origin:top;


}
.unOrder{
    padding-left: 35px;
}
.priceCard h5{
    font-size: 20px;
    font-weight: 500;
    color: #111D15;
     font-family: "Be Vietnam Pro", sans-serif;
     text-align: center;
     text-transform: uppercase;

}
.priceCard h3{
   
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    padding: 20px 40px;
    
   
}
.priceTag{
 background: #36B864;
 border-radius: 10px;
}
.priceCard h3 span{

     font-size: 32px;
    font-weight: 700;
    color: #fff;
     font-family: "Be Vietnam Pro", sans-serif;

}
.unOrder{
    margin-top: 36px;
}
.unOrder li{
    color: #666666;
    margin-bottom: 10px;
    

}

.unOrder li{
    list-style: disc;
}
.unOrder li::marker{
    
    font-size: 14px;
}
.priceCardBtn{
    text-align: center;
}
.priceCardBtn a{
    font-size: 16px;
    font-weight: 400;
    color: #111D15;
  
     font-family: "Be Vietnam Pro", sans-serif;
     border: 1px solid #666666;
     padding: 20px 110px;
     border-radius: 6px;
     margin-top: 36px;
     transition: .4s;
}
.priceCardBtn a:hover{
  background: #36B864;
  border: 1px solid transparent;
  color: #fff;
}
/* price section end */
/* footer section start */
#footerPart {
    background: #111D15;
    color: #fff;
    padding: 100px 135px 20px 135px;

}

.footerLogo p {
    font-size: 16px;
    font-weight: 300;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 356px;
    line-height: 160%;
    margin-top: 24px;
    opacity: 0.8;

}

.footerMenu h5 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 36px;
}

.footerMenu ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 24px;
    opacity: 0.8;

}

.mailHere h5 {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-bottom: 26px;

}

.emailMe input[type="email"] {
    padding: 10px 151px 10px 16px;

    outline: 0;
    border-radius: 6px;
    margin-bottom: 26px;
    border: 1px solid #808080;
    background: transparent;

}

.emailMe input::placeholder {
    color: #9E9E9E;

    font-size: 16px;
    font-weight: 400;
    font-family: "Be Vietnam Pro", sans-serif;


}

.ourMail {
    /* border: 1px solid blue; */
    position: relative;
}

.search {
    /* border: 1px solid red; */
    position: absolute;
    right: 20px;
    top: 14px;
}

.copy {
    text-align: center;
    border-top: 1px solid #D9D9D9;
}

.copy h6 {

    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: "Be Vietnam Pro", sans-serif;
    margin-top: 24px;


}

/* footer section end */