/* all common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Be Vietnam Pro", sans-serif; */
    /* font-family: "Outfit", sans-serif; */
     /* font-family: "Lato", sans-serif; */
     /* font-family: "Poppins", sans-serif; */
}
ul ,ol{
    list-style-type: none;
}
a,a:hover{
    display: inline-block;
    text-decoration: none;
}

h1, h2, h3, h4 , h5,h6 ,p{
    line-height: 1.4;
}

/* all common css end */
/* header section style start */
.navbar-nav .nav-item .nav-link{
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
    font-family: "Be Vietnam Pro", sans-serif;

}
.navbar-nav .nav-item .nav-link:hover{
   
    color: #36B864;
    /* font-weight: 500; */
    text-shadow: 0.5px 0 0 #36B864;

}

.primaryBtn{
    background: #36B864;
    color: #fff;
    padding: 12px 32px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}
/* header section style end */
/* footer section start */
#footerPart{
    background: #111D15;
    color: #fff;
    padding: 100px 135px 20px 135px;

}
.footerLogo p{
    font-size: 16px;
    font-weight: 300;
    font-family: "Be Vietnam Pro", sans-serif;
    width: 356px;
    line-height: 160%;
    margin-top: 24px;
    opacity: 0.8;

}
/* footer section end */